@model ApplicationCore.Dto.ConsultaDto

@{
    ViewBag.Title = "Consulta";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Consulta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.PacienteId)
                @Html.EditorFor(model => model.NomePaciente,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PacienteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataHora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataHora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataHora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoExameId, "Tipos de Exame", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoExameId, ViewBag.TiposExame as SelectList, "Selecione um Tipo de Exame", new { @id = "tipoExameSelect", @class = "form-control" })
                @Html.ValidationMessage("TiposExame", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExameId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ExameId, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Selecione um Exame", new { @id = "exameSelect", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExameId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroProtocolo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroProtocolo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroProtocolo, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tipoExameSelect').change(function () {
                const tipoExameId = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CarregarExames", "Consultas")',
                    data: { tipoExameId: tipoExameId },
                    success: function (exames) {
                        $('#exameSelect').empty();
                        $.each(exames, function (i, exame) {
                            $('#exameSelect').append($('<option>').text(exame.Nome).attr('value', exame.Id));
                        });
                    }
                });
            });
        });
    </script>
}
