@model IEnumerable<ApplicationCore.Dto.PacienteDto>

@{
    ViewBag.Title = "Pacientes";
}

<h2 class="customH">Pacientes</h2>

@{
    <hr />
    if (ViewBag.Error != null)
    {
        <div>ViewBag.Error</div>
    }
}

<p>
    @Html.ActionLink("Criar novo", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="cpfDisplay">
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.Raw(item.DataNascimento.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexoDescrito)
            </td>
            <td class="foneDisplay">
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id })
                @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".cpfDisplay").inputmask({ 'mask': "###.###.###-##", 'removeMaskOnSubmit': true });
            $(".foneDisplay").inputmask({ 'mask': "(##) #####-####" });
        });
    </script>
}